<div id="pie-chart"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load("current", {"packages":["corechart"]});
  google.charts.setOnLoadCallback(drawCharts);

  function drawCharts() {
    drawPieChart();
  }

  function drawPieChart() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn("string", "Topping");
    data.addColumn("number", "Slices");
    data.addRows([
      ["Menos de 3 días", 94],
      ["Entre 3 y 7 días", 4],
      ["Más de 7 días", 2]
    ]);

    // Set chart options
    var options = {
      "title": "Estado de los dispositivos",
      "width": 300,
      "height": 250,
      "colors": ["#339933", "#E0C952", "#D14747"]
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById("pie-chart"));
    chart.draw(data, options);
  }
</script>
