//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_material";

.custom_footer {
  color: #777;
  padding: 0 1.25em;
}

.columns .column {
  float: left;
}

#map {
  height: 600px;
  width: 100%;
}

.overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.85;
  border: solid 2px white;
  border-radius: 50px;
  box-shadow: 2px 2px 10px #666;
  text-shadow: 1px 1px 1px #333;
  padding: 2px 10px;
}

.overlay.green {
  background: #339933;
  border-color: #267326;
}

.overlay.red {
  background: #D14747;
  border-color: #B82E2E;
}

.overlay.yellow {
  background: #E0C952;
  border-color: #AD961F;
  color: #333;
  text-shadow: 1px 1px 1px #EEE;
}

.chart-container {
  overflow: hidden;
}

#pie-chart, #bar-chart {
  float: left;
  height: 280px;
  width: 50%;
}
